<!-- app/views/employees/show.html.erb -->
<div class="row">
  <div class="col-md-12">
    <h1><%= @employee.first_name %></h1>
    <p>Email: <%= @employee.email %></p>
    <p>Position: <%= @employee.designation %></p>

    <h2>Bills</h2>
    <%= link_to 'New Bill', new_employee_bill_path(@employee), class: 'btn btn-success mb-3' %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Date Of Submission</th>
          <th>Submitted By</th>
        </tr>
      </thead>
      <tbody>
        <% @employee.bills.each do |bill| %>
          <tr>
            <td><%= bill.bill_type %></td>
            <td><%= bill.amount %></td>
            <td><%= bill.created_at %></td>
            <td><%= bill.submitted_by %></td>
            <td>
            <td>
              <%= link_to 'Show', employee_bill_path(@employee, bill), class: 'btn btn-info btn-sm' %>
              <%= link_to 'Edit', edit_employee_bill_path(@employee, bill), class: 'btn btn-warning btn-sm' %>
              <%= link_to 'Delete', employee_bill_path(@employee, bill), data: { "turbo-method": :delete , confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
